<br><br><br><br>
<h1 style="font-size: 80px; text-align:center">
 Kung-Fu Pandas
</h1>
<img src="img/kfpandas3.jpg" alt="This should be a panda image... :(" style="width: 900px;"/>
<br><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br><br>

<h1 style="text-align: center">About me</h1>

---

### Carles Sala Cladellas

<div style="float:right">
<img src="img/kfpandas1.jpg" style="width: 400px;">
</div>

<br>

Mathematician

Data Scientist

Pythonista
  
<br><br>

Twitter: @_xals

github: csala

LinkedIn: carlessalacladellas

e-mail: carles@Ã¾ythiac.com

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br><br>

---

<br>

<div style="float:center">
<img src="img/pythia_team_2.png" style="width:600px;">
</div>

<br><br><br>

<p style="text-align: center">Web: https://www.pythiac.com<p>

<p style="text-align: center">Twitter: @pythiac_com<p>

<br><br><br><br><br><br><br><br>

## 1. Data Loading

Let's start by loading some data into a `pandas.DataFrame`.

In particular, we are loading a small sample of GeoLocation records extracted from a mobile App.

In [1]:
import pandas as pd

df = pd.read_csv('location_data.csv')

## 2. Basic Exploration

* shape
* head

Here comes the first question: How much data have we loaded?

Let's see it:

In [2]:
df.shape

(100000, 8)

Thats 100.000 Rows, 8 Columns.

Let's see what the data looks like:

In [3]:
df.head()

,location,os,seentime,uncertainity,id,group,associated_to,activity
0,"39.516965269556,2.74673970462",iOS,2017-05-02T18:15:27,30.205378,bd80e20135109920568bb7484ed9f0c6,b229da07034ab6cc3402de6b467c5307,57c1df49f5885aee69d6acf715318c50,0
1,"39.51869921736,2.743578501977",Ellipsis 8,2017-05-02T03:44:21,49.000000,b7ae29a2f97305fc8986c4a9c897cca5,004c6e10de0bd7cd515bac62a3e7d167,3e4f840b447628cc944826669e9fe8c3,0
2,"39.51869921736,2.743578501977",iOS,2017-05-02T10:07:24,49.000000,0b4eb9d8a087ac7c5b80511e3fb3c72a,004c6e10de0bd7cd515bac62a3e7d167,3e4f840b447628cc944826669e9fe8c3,0
3,"39.51869921736,2.743578501977",Android,2017-05-02T19:34:21,49.000000,29a58f30d47f92089090a6947b3066e9,ee977e101abea11848d65a2ba97cf150,3e4f840b447628cc944826669e9fe8c3,0
4,"39.51869921736,2.743578501977",NaN,2017-05-02T19:25:59,49.000000,5297a0beb4614f85ac42bc715e48869d,004c6e10de0bd7cd515bac62a3e7d167,3e4f840b447628cc944826669e9fe8c3,0

Wow, this is barely readable!

Columns are too wide and we need to scroll to see them all.

Let's use our Pandas-Fu knowledge:

In [4]:
df.head(3).T    # Kung-fu Pandas Level 1: Transpose it to make it easier to read!

,0,1,2
location,"39.516965269556,2.74673970462","39.51869921736,2.743578501977","39.51869921736,2.743578501977"
os,iOS,Ellipsis 8,iOS
seentime,2017-05-02T18:15:27,2017-05-02T03:44:21,2017-05-02T10:07:24
uncertainity,30.2054,49,49
id,bd80e20135109920568bb7484ed9f0c6,b7ae29a2f97305fc8986c4a9c897cca5,0b4eb9d8a087ac7c5b80511e3fb3c72a
group,b229da07034ab6cc3402de6b467c5307,004c6e10de0bd7cd515bac62a3e7d167,004c6e10de0bd7cd515bac62a3e7d167
associated_to,57c1df49f5885aee69d6acf715318c50,3e4f840b447628cc944826669e9fe8c3,3e4f840b447628cc944826669e9fe8c3
activity,0,0,0

## 3. Datetimes

* pd.to_datetime
* .dt

### Parsing datetimes

A very common scenario is that where our DataFrame has some string column that represents a `datetime`.

In [5]:
df.seentime.head()

0    2017-05-02T18:15:27
1    2017-05-02T03:44:21
2    2017-05-02T10:07:24
3    2017-05-02T19:34:21
4    2017-05-02T19:25:59
Name: seentime, dtype: object

In most cases we will want to parse these strings into an actual `datetime` object.

Let's try to achieve it using our well known `dateutil.parser`

In [6]:
from dateutil import parser

df.seentime.apply(parser.parse).head(10)

0   2017-05-02 18:15:27
1   2017-05-02 03:44:21
2   2017-05-02 10:07:24
3   2017-05-02 19:34:21
4   2017-05-02 19:25:59
5   2017-05-02 20:56:05
6   2017-05-02 12:05:46
7   2017-05-02 07:50:21
8   2017-05-02 10:08:54
9   2017-05-02 14:26:49
Name: seentime, dtype: datetime64[ns]

OK. It works, but it's damn slow!

### pd.to_datetime

Here comes a better solution, integrated into pandas and far faster.

In [7]:
pd.to_datetime(df.seentime).head(10)

0   2017-05-02 18:15:27
1   2017-05-02 03:44:21
2   2017-05-02 10:07:24
3   2017-05-02 19:34:21
4   2017-05-02 19:25:59
5   2017-05-02 20:56:05
6   2017-05-02 12:05:46
7   2017-05-02 07:50:21
8   2017-05-02 10:08:54
9   2017-05-02 14:26:49
Name: seentime, dtype: datetime64[ns]

Let's overwrite the string column with our datetimes

In [8]:
df['seentime'] = pd.to_datetime(df.seentime)

## DType accessor attributes

Another common scenario is needing to access an atribute or method from the objects stored in the column.

For example, let's try to obtain the hour of our freshly created datetime objects:

In [9]:
df.seentime.apply(lambda d: d.hour).head(10)

0    18
1     3
2    10
3    19
4    19
5    20
6    12
7     7
8    10
9    14
Name: seentime, dtype: int64

OK, it works. But, again, Pandas gives us a cooler alternative:

## Series.dt

`pandas.Series` have a special Accessor Attributes which allow us to access the attributes of the type associated to each Series.

For example, we can access the `.hour` attribute of our `datetime` objects using the `Series.dt` attribute.

In [10]:
df.seentime.dt.hour. head(10)

0    18
1     3
2    10
3    19
4    19
5    20
6    12
7     7
8    10
9    14
Name: seentime, dtype: int64

With this trick, we can easily and efficiently do do things like this:

In [11]:
df['year'] = df.seentime.dt.year
df['month'] = df.seentime.dt.month
df['day'] = df.seentime.dt.day
df['hour'] = df.seentime.dt.hour
df['minute'] = df.seentime.dt.minute
df['second'] = df.seentime.dt.second

In [12]:
df.head(3).T

,0,1,2
location,"39.516965269556,2.74673970462","39.51869921736,2.743578501977","39.51869921736,2.743578501977"
os,iOS,Ellipsis 8,iOS
seentime,2017-05-02 18:15:27,2017-05-02 03:44:21,2017-05-02 10:07:24
uncertainity,30.2054,49,49
id,bd80e20135109920568bb7484ed9f0c6,b7ae29a2f97305fc8986c4a9c897cca5,0b4eb9d8a087ac7c5b80511e3fb3c72a
group,b229da07034ab6cc3402de6b467c5307,004c6e10de0bd7cd515bac62a3e7d167,004c6e10de0bd7cd515bac62a3e7d167
associated_to,57c1df49f5885aee69d6acf715318c50,3e4f840b447628cc944826669e9fe8c3,3e4f840b447628cc944826669e9fe8c3
activity,0,0,0
year,2017,2017,2017
month,5,5,5
day,2,2,2
hour,18,3,10
minute,15,44,7
second,27,21,24

## Series.dt.strftime

Hey!! Remember that methods are just attributes, so we can also access them!

In [13]:
df.seentime.dt.strftime('%d/%m/%y').head(10)

0    02/05/17
1    02/05/17
2    02/05/17
3    02/05/17
4    02/05/17
5    02/05/17
6    02/05/17
7    02/05/17
8    02/05/17
9    02/05/17
Name: seentime, dtype: object

Cool, huh?

## Forget about the infamous GroupBy!!!!

How many times have we wanted to make a glance at how many times each value appears in a Series?

Let's group a Series by its value and then count the number of elements inside each group.

And then sort them descendingly to see the more relevant ones first, of course!

In [14]:
df.groupby('hour').id.apply(lambda s: len(s)).sort_values(ascending=False)

hour
12    6199
11    6160
8     6110
9     6074
10    5577
7     5342
13    5338
15    5327
16    4770
18    4662
17    4661
19    4325
20    3901
14    3780
6     3727
23    3591
5     3544
21    3352
4     2941
22    2722
0     2143
3     1961
1     1958
2     1835
Name: id, dtype: int64

## .value_counts

Some time ago I could write the previous groupby statement with my eyes closed. If I hadn't it on my clipboard!

Until I learnt the next trick:

In [15]:
df.hour.value_counts()

12    6199
11    6160
8     6110
9     6074
10    5577
7     5342
13    5338
15    5327
16    4770
18    4662
17    4661
19    4325
20    3901
14    3780
6     3727
23    3591
5     3544
21    3352
4     2941
22    2722
0     2143
3     1961
1     1958
2     1835
Name: hour, dtype: int64

By the way, what good would a hands-on python talk wiithout a timeit?

Let's see how faster this solution is compared to the previous one!

In [16]:
%%timeit

df.groupby('id').id.apply(lambda s: len(s)).sort_values(ascending=False)

788 ms Â± 1.74 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [17]:
%%timeit

df.id.value_counts()

10.8 ms Â± 16 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

Almost 80 times faster!

## Working with strings

In our data, the location coordinates are encoded in a single string, separated by a comma.

In [18]:
df.location.head()

0    39.516965269556,2.74673970462
1    39.51869921736,2.743578501977
2    39.51869921736,2.743578501977
3    39.51869921736,2.743578501977
4    39.51869921736,2.743578501977
Name: location, dtype: object

Let's try to split the string and parse the results into a float value

In [19]:
df.location.apply(lambda x: None if pd.isnull(x) else x.split(',')).head(10)

0    [39.516965269556, 2.74673970462]
1    [39.51869921736, 2.743578501977]
2    [39.51869921736, 2.743578501977]
3    [39.51869921736, 2.743578501977]
4    [39.51869921736, 2.743578501977]
5    [39.51869921736, 2.743578501977]
6    [39.51869921736, 2.743578501977]
7    [39.51869921736, 2.743578501977]
8    [39.51869921736, 2.743578501977]
9    [39.51869921736, 2.743578501977]
Name: location, dtype: object

It works, but that one-liner should be almost prohibited by the Python Zen!

## .str.split

But remember: if we know the type of a column we can access its atributes and methods!

Let's try to work this out in a cleaner way.

In [20]:
location = df.location.str.split(',')

In [21]:
location.head(10)

0    [39.516965269556, 2.74673970462]
1    [39.51869921736, 2.743578501977]
2    [39.51869921736, 2.743578501977]
3    [39.51869921736, 2.743578501977]
4    [39.51869921736, 2.743578501977]
5    [39.51869921736, 2.743578501977]
6    [39.51869921736, 2.743578501977]
7    [39.51869921736, 2.743578501977]
8    [39.51869921736, 2.743578501977]
9    [39.51869921736, 2.743578501977]
Name: location, dtype: object

Much better!

Now we can assign each element to a new column:

In [22]:
df['latitude'] = location.str[0]
df['longitude'] = location.str[1]

**BTW:** Notice how we can also access each element of the list using the `.str` attribute!

## .str.split

And we have yet another way to do the same as before, which I personally like more:

In [23]:
location = df.location.str.partition(',')
location.head()

                 0  1               2
0  39.516965269556  ,   2.74673970462
1   39.51869921736  ,  2.743578501977
2   39.51869921736  ,  2.743578501977
3   39.51869921736  ,  2.743578501977
4   39.51869921736  ,  2.743578501977

In [24]:
df.latitude = location[0]
df.longitude = location[2]

# Shift

Here comes a real `pandas` beast, the `.shift` method.

Lets put some context: Our data has a value `id` which identifies a single mobile phone, and a value `associated_to` which identifies the zone where the mobile can be found in a precise instant.
Each row of the dataframe corresponds to a single time that the user has performed a specific action in their phone.

Now let's suppose that we want to identify the number of times that a single phone has been in a specific zone.
Let's call this event, being in a zone, a session: the user starts a session every time that he enters a new zone and does not start a new session until it leaves it. And, of course, if later on he comes back to the original source he starts yet a new session!

So, considering that each user can perform the action many times within a session, we will have many rows per session. Rows that we need to group together in some way to be able to count the number of groups that we have.

Let's do it!

In [25]:
df.head(3).T

,0,1,2
location,"39.516965269556,2.74673970462","39.51869921736,2.743578501977","39.51869921736,2.743578501977"
os,iOS,Ellipsis 8,iOS
seentime,2017-05-02 18:15:27,2017-05-02 03:44:21,2017-05-02 10:07:24
uncertainity,30.2054,49,49
id,bd80e20135109920568bb7484ed9f0c6,b7ae29a2f97305fc8986c4a9c897cca5,0b4eb9d8a087ac7c5b80511e3fb3c72a
group,b229da07034ab6cc3402de6b467c5307,004c6e10de0bd7cd515bac62a3e7d167,004c6e10de0bd7cd515bac62a3e7d167
associated_to,57c1df49f5885aee69d6acf715318c50,3e4f840b447628cc944826669e9fe8c3,3e4f840b447628cc944826669e9fe8c3
activity,0,0,0
year,2017,2017,2017
month,5,5,5
day,2,2,2
hour,18,3,10
minute,15,44,7
second,27,21,24
latitude,39.516965269556,39.51869921736,39.51869921736
longitude,2.74673970462,2.743578501977,2.743578501977

First let's create a single identifier, `sdesc` (Session Descriptor) joining the `id` and the `associated_to` fields.

In [26]:
df['sdesc'] = df.id + df.associated_to
df.sdesc.head()

0    bd80e20135109920568bb7484ed9f0c657c1df49f5885a...
1    b7ae29a2f97305fc8986c4a9c897cca53e4f840b447628...
2    0b4eb9d8a087ac7c5b80511e3fb3c72a3e4f840b447628...
3    29a58f30d47f92089090a6947b3066e93e4f840b447628...
4    5297a0beb4614f85ac42bc715e48869d3e4f840b447628...
Name: sdesc, dtype: object

Now we can sort the data by both this new field and the `seentime`, so we obtain some kind of time series with the multiple actions that a user has performed and their locations.

In [27]:
df = df.sort_values(['sdesc', 'seentime']).copy()  # Let's copy it over to avoid future slice modification warnings

In [28]:
df[['id', 'associated_to', 'seentime']].head(10)

,id,associated_to,seentime
86770,0000dccc86a6bb51b8d7b402c431f5eb,07a05f6e8c70b41d6d13f6f88054db5b,2017-05-02 12:16:41
55460,0002c6f05956f2519af4c9e199e0bfc8,0cac08e67d3f8ae879557d73dfbf90a5,2017-05-01 23:43:20
55459,0002c6f05956f2519af4c9e199e0bfc8,0cac08e67d3f8ae879557d73dfbf90a5,2017-05-01 23:52:14
25942,0002c6f05956f2519af4c9e199e0bfc8,6a09781f67155f0c71c855cf48ece270,2017-05-01 23:31:24
52402,000a2ff1fda225935077176ba66e9244,fdf60b72023ab24d41a7a3c050f06866,2017-05-02 05:14:07
75141,000a2ff1fda225935077176ba66e9244,fdf60b72023ab24d41a7a3c050f06866,2017-05-02 05:16:04
91338,00159430f5c3dad3c09d9808fe082f02,1e01eb70ac237f308bbc9be7959a3116,2017-05-02 19:42:36
91224,00159430f5c3dad3c09d9808fe082f02,1e01eb70ac237f308bbc9be7959a3116,2017-05-02 20:27:33
58665,001608e4520f3f7a6885b1852dc7679b,6079bb04d578ba5eb979c3657c860501,2017-05-02 16:30:28
45742,0017eb302c4645b1387bb7fe18a72a64,f1fd8bcdd7e179c1e2ea7e2d115b4388,2017-05-02 12:03:10

Now we will identify whenever the sdesc value changes using the almighty `.shift` method.

In [29]:
df.sdesc.head()

86770    0000dccc86a6bb51b8d7b402c431f5eb07a05f6e8c70b4...
55460    0002c6f05956f2519af4c9e199e0bfc80cac08e67d3f8a...
55459    0002c6f05956f2519af4c9e199e0bfc80cac08e67d3f8a...
25942    0002c6f05956f2519af4c9e199e0bfc86a09781f67155f...
52402    000a2ff1fda225935077176ba66e9244fdf60b72023ab2...
Name: sdesc, dtype: object

In [30]:
df.sdesc.head().shift(1)

86770                                                  NaN
55460    0000dccc86a6bb51b8d7b402c431f5eb07a05f6e8c70b4...
55459    0002c6f05956f2519af4c9e199e0bfc80cac08e67d3f8a...
25942    0002c6f05956f2519af4c9e199e0bfc80cac08e67d3f8a...
52402    0002c6f05956f2519af4c9e199e0bfc86a09781f67155f...
Name: sdesc, dtype: object

In [31]:
(df.sdesc.shift(1) != df.sdesc).head()

86770     True
55460     True
55459    False
25942     True
52402     True
Name: sdesc, dtype: bool

And finally we `cumsum` the boolean values and we get: A unique identifier for Session!

In [32]:
(df.sdesc.shift(1) != df.sdesc).cumsum().head()

86770    1
55460    2
55459    2
25942    3
52402    4
Name: sdesc, dtype: int64

In [33]:
df['session'] = (df.sdesc.shift(1) != df.sdesc).cumsum()

In [34]:
df[['id', 'associated_to', 'seentime', 'session']].head(10)

,id,associated_to,seentime,session
86770,0000dccc86a6bb51b8d7b402c431f5eb,07a05f6e8c70b41d6d13f6f88054db5b,2017-05-02 12:16:41,1
55460,0002c6f05956f2519af4c9e199e0bfc8,0cac08e67d3f8ae879557d73dfbf90a5,2017-05-01 23:43:20,2
55459,0002c6f05956f2519af4c9e199e0bfc8,0cac08e67d3f8ae879557d73dfbf90a5,2017-05-01 23:52:14,2
25942,0002c6f05956f2519af4c9e199e0bfc8,6a09781f67155f0c71c855cf48ece270,2017-05-01 23:31:24,3
52402,000a2ff1fda225935077176ba66e9244,fdf60b72023ab24d41a7a3c050f06866,2017-05-02 05:14:07,4
75141,000a2ff1fda225935077176ba66e9244,fdf60b72023ab24d41a7a3c050f06866,2017-05-02 05:16:04,4
91338,00159430f5c3dad3c09d9808fe082f02,1e01eb70ac237f308bbc9be7959a3116,2017-05-02 19:42:36,5
91224,00159430f5c3dad3c09d9808fe082f02,1e01eb70ac237f308bbc9be7959a3116,2017-05-02 20:27:33,5
58665,001608e4520f3f7a6885b1852dc7679b,6079bb04d578ba5eb979c3657c860501,2017-05-02 16:30:28,6
45742,0017eb302c4645b1387bb7fe18a72a64,f1fd8bcdd7e179c1e2ea7e2d115b4388,2017-05-02 12:03:10,7

 And now we only need to join the sdesc and the id fields and count the values!

In [35]:
(df['sdesc'] + df['session'].astype(str)).value_counts().head(10)

5eb91852ca4bc9802f93990022b0b2049f7b7a1e7842298c37315c589476bad520614    114
cf735a9fe55748f84c6f4b9a9e011ed9b52b69e672d43215041e62f21190d62544549    110
3929bf7b1c852963f7354fabf0943a8de2d17c7c89e9e075cf009356655f606112371    108
76766ace066c92c6bc5a162cec3893314fc3fc8494f8cfd577ccbd7c9905c12825692    101
c66c770f2a2e72a4c6f71e1f48ebe999cb19064bab4830ca51d8d5325c57574242698    100
59888da14f8bbe15a3a22e338439859acb19064bab4830ca51d8d5325c57574219496    100
ae7b704a294baa6d1eccf50eb6b7dd0f32dc6782ef27f2cfbdece7d84a08329e37458     96
ef614a631db652f2a67168cc270ce7a66b525f4671d53233b975084172adeca351335     92
ae7b704a294baa6d1eccf50eb6b7dd0f59016f229aaadb8caab16204b85f4d1437463     90
ef614a631db652f2a67168cc270ce7a65b575d17a8cf273f2c5436c65e6b2f5751333     88
dtype: int64

<div style="float:right">
<img src="img/kfpandas-goodbye.jpg" style="width: 400px;">
</div>
<h1 style="text-align:center">Thank You!</h1>